body {
    font-family: 'Major Mono Display', monospace;
    margin: 0;
    height: 100vh;
    background-color: #f0f8ff;
}

header {
    display: flex;
    border-bottom: 2px solid black;
    font-size: larger;
    flex-direction: row;
    gap: 20px;
    padding: 5px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 30px;
    color: black;
}

.banner {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bolder;
}

.cell {
    border: 2px solid black;
    height: 100px;
    width: 100px;
    text-align: center;
    cursor: pointer;
    font-size: 90px;
}

.cell:hover {
    background-color: lightblue;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.gameBoard {
    display: flex;
    flex-direction: column;
}


.headerImg {
    height: 100px;
    width: 100px;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100%;
}

.reset-btn {
    margin-top: 20px;
    font-size: larger;
    border-radius: 5px;
    color: white;
    background-color: cornflowerblue;
    box-shadow: 2px 2px 2px black;
    cursor:pointer;
}

.row {
    display: flex;
    flex-direction: row;
}
