body {
    font-family: 'Major Mono Display', monospace;
    margin: 0;
    height: 100vh;
    background-color: #f0f8ff;
}

header {
    display: flex;
    border-bottom: 2px solid black;
    font-size: larger;
    flex-direction: row;
    gap: 20px;
    padding: 5px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 30px;
    color: black;
}

.cell {
    border: 2px solid black;
    height: 100px;
    width: 100px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.gameBoard {
    display: flex;
    flex-direction: column;
}


.headerImg {
    height: 100px;
    width: 100px;
}

.main {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100%;
}

.row {
    display: flex;
    flex-direction: row;
}
